.github/
.expo/
.vscode/
example/
src/
tests/
screenshots/
media/
babel.config.*
eslint.config.*
tsconfig.json
.editorconfig
.eslintcache
.nvmrc
.watchmanconfig
yarn.lock
yarn-error.log
.gitattributes
.watchmanconfig
CONTRIBUTING.md
CODE_OF_CONDUCT.md
ISSUE_TEMPLATE.md
